*{
    margin: 0;
    padding: 0;

}


.cabecalho {
    background-color: #0a2ebe;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}



.cabelho-imagem{
    width: 20%;
}

.escola{
background-image:linear-gradient(#0bd1eb, #07055c) ;
color:white;
display: flex;
justify-content:center;
align-items: center;
padding: 24px 0;
} 

.escola-div-conteudo{
width: 35%;
}

.escola-titulo{
padding: 24px 0;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
